<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Blog</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left-side">

        </div>

        <div class="blog-body">
            <div class="post-creat-area floating">
                <input name="thought" type="text" id="inputText" class="floating">
                <div class="buttons-area">
                    <img src="../public/gallery.svg" id="postButton">
                    <button id="postPicButton" class="floating">Post</button>
                </div>
                
            </div>

            <div class="main-body-area" id="mainBody">
                <div class="text-post post floating" id="post-1">
                    <div class="poster-data">
                        <div class="poster-name">Gad Badr</div>
                        <div class="date-time">8-12-2023 10:26 PM</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="post-footer">
                        <div>
                            <img src="../public/like.svg" class="like">
                        </div>
                        <div>
                            <img src="../public/comment.svg" class="comment">
                        </div>
                    </div>
                </div>
                <div class="text-post post floating" id="post-1">
                    <div class="poster-data">
                        <div class="poster-name">Gad Badr</div>
                        <div class="date-time">8-12-2023 10:26 PM</div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="post-footer">
                        <div>
                            <img src="../public/like.svg" class="like">
                        </div>
                        <div>
                            <img src="../public/comment.svg" class="comment">
                        </div>
                    </div>
                </div>

              
                
            </div>

        </div>
    </div>
    <div class="footer">
        <p>thoughts, All Rights Reserved. Gad Badr© 2023</p>
    </div>
    <script src='../public/script.js'></script>
</body>
</html>